@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --pink-brown: #E1A289;
    --light-pink: #FFBDC8;
    --middle-pink: #FF8692;
    --dark-pink: #FF8692;
    --dark-pink-brown: #4F0113;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: var(--pink-brown);
    color: var(--dark-pink-brown);
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.nav-bar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 24px;
    justify-content: space-evenly;

    @media (max-width: 640px){
        flex-direction: column;
    }
}

.nav-bar a{
    text-decoration: none;
    position: relative;
    color: inherit;
}

.nav-bar a::before{
    content: "";
    position: absolute;
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: var(--dark-pink);
}

.nav-bar a:hover{
    color: var(--dark-pink);
}

.nav-bar{
    padding: 28px 10px;
    background-color: white;
}

.mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0px;
}

.statement{
    font-size: 36px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-bottom: 32px;;
}

.description{
    margin-bottom: 32px;
}

.hero button{
    color: white;
    font-size: 18px;
    background-color: var(--dark-pink);
    padding: 16px 32px;
    border-radius: 24px;
    border-color: white;
    cursor: pointer;
}

.hero button:hover{
    color: white;
    background-color: var(--dark-pink-brown);
}
    
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    max-width: 300px;
    background-color: var(--middle-pink);
    padding: .75rem;
    margin-bottom: 2rem;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.types-container{
    display: flex;
    padding: 16px;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: stretch;
}

.card-header{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.card-name{
    font-weight: bold;
}

.card span{
    font-weight: bold;
}

.card-results{
    display: flex;
    justify-content: space-between;
}

.card ol,
.card ul{
    margin: 0px;
}